.badge-app {
  padding: $badge-padding-y $badge-padding-x;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1.1;

  display: inline-flex;
  align-items: center;
  gap: $badge-gap;
}
